$armyTan: #b9bc8c;
$ecoGreen: #03bc8c;
$white: #ffffff;
$oceanBlue: #03658c;
$greyBlack: #313b3f;
$yellowGold: #d9a74a;
$warningRed: #d0342c;

$paragraphFontSize: 14px;
$h2FontSize: 16px;

$fontFamily: Arial, Helvetica, sans-serif;
