@import "../../styles/page-style";

#calendar-component {
    position: relative;

    input {
        font: normal 15px sans-serif;
        border: 1px solid $greyBlack;
        outline: none;
        padding: 8px;
        border-radius: 5px;
        width: 100%;
        color: $greyBlack;
        box-sizing: border-box;
    }

    .calendar {
        width: 250px;
        padding-bottom: 15px;
        border: 1px solid $greyBlack;
        background-color: $white;
        position: absolute;
        right: 0;
        top: 40px;
        border-radius: 4px;
        z-index: 1;

        .all-days-skeleton {
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
            justify-content: center;
            font: normal 14px sans-serif;

            > div {
                width: 31px;
                height: 25px;
                display: flex;
                border: 1px solid transparent;
                cursor: pointer;

                .day-value {
                    margin: auto;
                }
            }
        }
    }

    nav {
        font: normal 15px sans-serif;
        display: grid;
        background-color: $greyBlack;
        color: $white;
        padding: 5px 0 6px 0;
        grid-template-columns: repeat(2, 30px);
        grid-column-gap: 5px;
        position: relative;
        justify-content: center;

        .close-calendar {
            background-color: $white;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            color: $greyBlack;
            border-radius: 4px;
            display: flex;
            cursor: pointer;

            span {
                margin: auto;
                transform: translate(1px, -0.5px);
            }
        }

        .search {
            position: absolute;
            background-color: $white;
            border-radius: 3px;
            padding: 4px 4px 4px 4px;
            cursor: pointer;
            right: 20px;
            top: 3px;
            color: $greyBlack;
            text-transform: uppercase;
            font: bold 11px sans-serif;
        }

        .month,
        .year {
            ul {
                display: grid;
                grid-template-columns: repeat(3, 33.3%);
                grid-row-gap: 2px;
                grid-column-gap: 1px;
                justify-content: center;
                align-items: center;
                position: absolute;
                background-color: $oceanBlue;
                padding: 5px;
                top: 28px;
                left: 0;
                list-style-type: none;
                width: 240px;
                text-align: center;
                z-index: 1;
                overflow-y: auto;
                height: 200px;

                li {
                    cursor: pointer;
                    transition: background-color 0.25s;
                    padding: 8px;
                    box-sizing: border-box;
                    border-radius: 4px;

                    &:hover {
                        background-color: $oceanBlue;
                    }
                }
            }
        }

        .month,
        .year {
            cursor: pointer;
        }
    }

    .weekdays {
        margin-top: 10px;

        ul {
            display: grid;
            grid-template-columns: repeat(7, auto);
            justify-content: center;
            grid-column-gap: 13px;
            transform: translateX(-2px);
            padding: 0;

            li {
                list-style-type: none;
                font: bold 14px sans-serif;
                padding: 0 5px;
            }
        }
    }
}

.has-value:hover,
.current-date {
    background-color: $oceanBlue;
    border-radius: 4px;
    color: $white;
    transform: scale(0.9);
}

.future-date {
    background-color: rgb(204, 51, 0);
    color: $white !important;
}

@media screen and (max-width: 1100px) {
    #calendar-component.nasa-app {
        width: 120px;

        .calendar {
            right: unset;
            left: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    #calendar-component {
        width: 100%;
        max-width: unset;
    }
}

@media screen and (max-width: 600px) {
    #calendar-component {
        margin: 0;
        position: unset;

        input {
            font-size: 14px;
            padding: 4px 8px;
        }

        .calendar {
            left: 0;
            top: 60px;
            margin: 0 auto;
        }
    }
}
